* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.header {
    background-color: #303030;
    height: 60px;
    line-height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header .logo {
  max-width: 60px;
  vertical-align: middle;
}

.header .menu {
  float: right;
  cursor: default;
}

.header .menu ul li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.header .menu ul li a {
  color: #FFF;
  text-decoration: none;
  display: block;
  height: 60px;
  padding: 0 10px;
}

.header .menu ul li a:hover {
  background-color: #
}
